.day {
    float:left;
    width:12%;
    border-bottom: 2px;
    border-top: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
}
.trip {
    padding-top: 5px;
    padding-bottom: 10px;
}
div {
    float:left;
}