/*.day {
    float:left;
    width:10%;
    border-bottom: 2px;
    border-top: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
}*/
.trip {
    padding-top: 5px;
    padding-bottom: 10px;
}
.logo {
    padding-top: 15%;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
